$color-primary: #c92a2a;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f1f3f5;
$color-grey-light-2: #e9ecef;
$color-grey-light-3: #dee2e6;

$color-grey-dark-1: #868e96;
$color-grey-dark-2: #495057;
$color-grey-dark-3: #343a40;

$font-heading: 'Raleway';
$font-default: 'Inter';
